html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Madefor, Helvetica Neue, Helvetica, Arial, メイリオ, meiryo,
    ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.js */

.app {
  height: 100vh;
}

.header {
  width: 100%;
  height: 75px;
  z-index: 99;
  display: grid;
  position: fixed;
  grid-template-columns: 55% 45%;
  background: white;
}

/* left-logo */

.header > .left-logo {
  display: flex;
  flex: 1 1;
  align-items: center;
}

.left-logo > .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ebcc5d;
  margin: 16px;
}

.left-logo > .website-name {
  display: flex;
  align-items: center;

  line-height: 1em;
  font: normal normal bold 25px/1.4em poppins-semibold, poppins, sans-serif;
}

.website-name > .small-font {
  padding-top: 5px;
  margin-left: 5px;

  font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
}

/* right-nav */

.header > .right-nav {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;

  cursor: pointer;
}

.right-nav > div:active,
.right-nav > div:focus,
.right-nav > div:hover {
  color: #0050f0;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: 45% 55%;
}

/* left-footer */

.footer > .left-footer {
  align-self: center;
  margin-left: 35px;
  color: rgba(0, 0, 0);
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
}

/* right-footer */

.footer > .right-footer {
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(2, 1fr);
  font: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,
    avenir-lt-w05_85-heavy, sans-serif;
}

.footer > .right-footer > div {
  justify-self: center;
}

.footer > .right-footer > div > .label {
  text-align: center;
  font-weight: bold;
}

.footer > .right-footer > div > .text {
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
}

/* content */
.content {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 100%;
  padding-top: 75px;
}

.content > .left-floor {
  height: 100%;
  background: rgba(230, 218, 206);
}
